@font-face{font-family:'Zen Kaku Gothic New';font-weight:400;src:url(ZenKakuGothicNew-400.woff2) format('woff2')}
@font-face{font-family:'Zen Kaku Gothic New';font-weight:500;src:url(ZenKakuGothicNew-500.woff2) format('woff2')}
@font-face{font-family:'Zen Kaku Gothic New';font-weight:700;src:url(ZenKakuGothicNew-700.woff2) format('woff2')}
@font-face{font-family:'Montserrat';font-weight:300;src:url(Montserrat-300.woff2) format('woff2')}
@font-face{font-family:'Montserrat';font-weight:500;src:url(Montserrat-500.woff2) format('woff2')}
@font-face{font-family:'Montserrat';font-weight:600;src:url(Montserrat-600.woff2) format('woff2')}
@font-face{font-family:'Montserrat';font-weight:700;src:url(Montserrat-700.woff2) format('woff2')}
@font-face{font-family:'Montserrat';font-weight:800;src:url(Montserrat-800.woff2) format('woff2')}